h1{
  margin:0 2%;
}
body{
  margin: 0;
  font-family: 'Cardo', serif;
}

p{
  margin: 0 2%;
  padding: 1%;
}

.intro{
  background-color: #00adb5;
  color: #fff;
  padding-bottom: 3.5%;
}

.intro-text{
  background-color: #00adb5;
  text-align: center;
  padding: 5.5% 0;
  font-size: 1.78rem;
}

.academic{
  padding: 2% 2% 3.5% 2%;
  background-color: #222831;
  color: #ffffff;
}

.window{
  width: 30%;
  margin-left: 4%;
  float: left;
}
.achieve{
  background-color: #222831;
  color: #ffffff;
  padding: 2.5%;
  font-size: 1.6rem;
}

.hobbies{
  background-color: #ffffff;;
  color: #222831;
  padding: 2.5%;
  font-size: 1.6rem;
}

.futuregoals{
  background-color: #222831;
  color: #ffffff;
  padding: 2.5%;
  font-size: 1.6rem;
}

button{
float: right;
}

a:hover{
  background-color: #ffffff;
  color: #222831;
}

ul{
  margin: 0 2%;
  padding: 0;
}
li{
  display: inline; /*removes line breaks*/
}

li a{
  color: white;
  padding: 1.5% 2%;
  text-decoration: none;
}
